:root{
   
    --branco-principal: #ffffff;
    --cinza-segundario: #c1aaaa;
    --botao-azul: #458ce2;
    --cor-de-fundo: #01040c;
}
 
 
 
 
body{
 
    background-color: var(--cinza-segundario);
    color: var(--branco-principal);
 
}
 
*{
    margin: 0;
    padding: 0;
}
 
.container {
    height: 100vh;
}
 
.principal{
 
    background-image: url("imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
 
 
}
 
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 10px;
   
}